name: 3 Import Image to ACR

on:
  workflow_dispatch:
  
env:
  ACR_NAME: ${{ secrets.ACR_NAME }}
  image_name: api-openliberty
  #tag: ${{ github.sha }}
  tag: 9080

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"

  build-push-image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - name: Build and Push Image
      uses: Azure/cli@v1
      with:
        inlineScript: |
          az acr import -n ${{ env.ACR_NAME }} --source icr.io/appcafe/open-liberty/samples/getting-started -t ${{ env.image_name }}:${{ env.tag }}
